<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Balazs Fentor's Homepage</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="My personal homepage for employers and anyone who cares (But mostly employers)" />
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
  <!-- <meta http-equiv="Cache-Control" content="max-age=31536000, must-revalidate"> -->
</head>
<body>
  <div class="header">
    <h1 class="header">Balazs Fentor's Homepage</h1>
  </div>
  <div class="page-selection">
    <span>
      <a href="/">Home</a>
      <a href="/github">Github</a>
      <a href="/cv">CV</a>
      <!-- <a href="/contact">Get in touch</a>
      <a href="/about">About</a> -->
    </span>
  </div>
  <div class="page-body">
    <div>
      {% block body %}
      <div class="page-intro">
        <div id="next-to-image">
          <h2>Hi!</h2>
          <p>On this page, you should be able to find everything about me that you need to know. Use the navbar to find my GitHub and CV</p>
          <h2>About This Site</h2>
          <p>
            Hosted with Flask on my own homelab running Ubuntu Server. I used pure HTML + CSS because I enjoy retro-coding these things, and didn't see the point of boggin down the page with dynamic elements. That being said, I have experience with building modern looking pages using Dash and Flask.
          </p>
        </div>
        <div id="image-container">
          <img id="image" src="{{ url_for('static', filename='image.jpg') }}" alt="Balazs Fentor self portrait">
        </div>
      </div>
      <h2>About me</h2>
      <p>
        I have experience as a Junior Software Engineer with Python. I'm an enthusiastic employee and I learn quickly, especially on-the-job. I also have experience daily driving Linux, as well as Linux System Administration.
      </p>
      <!-- <h2>A Note On LLMs</h2>
      <p>I don't like the code they generate, I don't like using them, and I don't think they make anyone any faster in the long run. Please see <a style="color: var(--quartary);" href="https://metr.org/blog/2025-07-10-early-2025-ai-experienced-os-dev-study/"> this study</a> as just one example of many.</p>
      <p>To be clear: I don't use LLMs to generate code in any of my projects</p> -->
      <h2>Contact</h2>
      <p>Email: 
        <a href="mailto: fentorb24@gmail.com" style="color: var(--quartary);">fentorb24@gmail.com</a>
      </p> 
      <p>Mobile: 
        <a href="tel:+36209773336" style="color: var(--quartary);">+36 20 977 3336</a>
      </p>
      {% endblock %}
    </div>
  </div>
  <footer> © 2025 www.fentorweb.hu - All Rights Reserved. </footer>
</body>
</html>